*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    user-select: none;
}
::-webkit-scrollbar{
    width:10px;
    background:#ffffffb1;   
}
::-webkit-scrollbar-thumb{
    width:7px;
    background: #8f9a98;
}
header{
    height: 100vh;
    width: 100%;
    background-color: #f0eaea;
}
header .navbar{
    padding: 20px 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.742);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    z-index: 100;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* header .navbar nav{
    display: flex;
    justify-content: center;
    margin: 0 70px;
} */
header .navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar nav ul a {
    font-size: 18px;
    padding: 10px 15px;
    color: black;
    font-weight: 600;
    border-radius: 25px;
    transition: all .2s ease;
}
header .navbar nav ul a:hover{
    background-color: #038dac ;
    letter-spacing: 2px;
    color: #fff;
}
header .navbar .logo{
    font-size: 20px;
    color: #150f10;
}
header .navbar .logo span{
    color: #038dac;
}
header .navbar .cart{
    color: #150f10;
    font-size: 25px;
    transition: all .2s ease;
}
header .navbar .cart:hover{
    color: #038dac;
    scale: 1.3;
}
header .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:600px;
    width: 90%;
    margin-left: 5%;
}
header .content .txt{
    margin: 50px 50px 0 50px;
}
header .content h2{
    font-size: 30px;
    color: #150f10;
    margin: 10px 0;
}
header .content h1{
    font-size: 50px;
    color: #8f9a98;
}
header .content h1 span{
    color: #038dac;
    font-size: 50px;
}

header .content .txt button{
    background-color: #8f9a98;
    border: 1px solid #150f10;
    border-radius: 25px;
    padding: 10px 15px ;
    margin: 20px 0;
    color: #150f10;
    font-size: 20px;
    font-weight: 600;
    transition: all .2s ease;
}
header .content .txt button:hover{
    box-shadow: 0 10px 50px 5px #8f9a98 ;
}
header .content .txt .homesocial{
    display: flex;
    justify-content: start;
    align-items: center;
}
header .content .txt .homesocial i{
    margin: 10px 10px ;
    color: #038dac;
    font-size: 25px;
}
header .content .image img{
    width: 600px;
    height: 500px;
    margin: 50px 0 0 0px;
}
.container1{
    width: 90%;
    height: fit-content;
    margin-left: 5%;

}
.container1 .txt{
    text-align: center;
    width: 100%;
    margin: 50px 0;
}
.container1 .txt h1{
    color: #150f10;
    font-size: 50px;
}
.container1 .txt p{
    color: #150f10;
    font-size: 20px;
}
.container1 .items{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content:start;
    flex-wrap: wrap;
}
.container1 .items .item {
    width: 23%;
    height: 420px;
    background-color: #edf3f3;
    padding: 0px 10px;
    overflow: hidden;
    border-radius: 20px;
    margin:20px 10px;
    box-shadow: 0 0px 10px 0px #cdc6bd9d ;
    transition: all .2s ease;
}
.container1 .items .item:hover{
    box-shadow: 0 0px 20px 5px #cdc6bd9d ;
}
.container1 .items .item img {
    width: 98%;
    margin-left: 1%;
    height: 300px;
}
.container1 .items .item .info{
    background-color: #fff7f7;    
    padding: 10px;
    border-radius: 20px;
}

.container1 .items .item .info .title{
    width: 100%;
    padding: 5px;
}
.container1 .items .item .info .title h3{
    color: #150f10;
    font-size: 20px;

}
.container1 .items .item .info .pricecart{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom:5px ;
}
.container1 .items .item .info .pricecart h4{
    color: #038dac;
    font-size: 20px;
}
.container1 .items .item .info .pricecart i{
    padding: 10px;
    font-size: 20px;
    color: #038dac;
    background-color: #038a9655;
    border-radius: 50%;
    transition: all .2s ease;
}
.container1 .items .item .info .pricecart i:hover{
    background-color: #038dac;
    color: #fff;
}
.container1 .items .shopnow{
    width: 100%;
    text-align: center;
    margin: 50px 0 ;
}
.container1 .items .shopnow button{
    background-color: transparent;
    border: 1px solid #150f10;
    border-radius: 25px;
    padding: 10px 15px ;
    margin: 20px 0;
    color: #150f10;
    font-size: 20px;
    font-weight: 600;
    transition: all .2s ease;
}
.container1 .items .shopnow button:hover{
    background-color: #8f9a98;
}

.announcment{
    width: 80%;
    height: 350px;
    text-align:center;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 20px 5px #131312 ;
    margin-left: 10%;
    border-radius: 10px;
    background-color:#131312;
}
.announcment img{
    z-index: 100;
}
.announcment h3{
    color: #fff7f7a7;
    font-size: 30px;
    margin: 15px 0;
}
.announcment h1{
    color: #fff7f7a7;
    font-size: 50px;
    margin: 15px 0;
}
.announcment h1 span{
    color: #ac031f;
    font-size: 60px;
}
.announcment button{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 10px 20px ;
    margin: 20px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    transition: all .2s ease;
}
.announcment button:hover{
    background-color: #8f9a98;
}
.container2{
    width: 90%;
    height: fit-content;
    margin-left: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.container2 .txt{
    text-align: center;
    width: 100%;
    margin: 50px 0;
}
.container2 .txt h1{
    color: #150f10;
    font-size: 50px;
}
.container2 .txt p{
    color: #150f10;
    font-size: 20px;
}
.container2 .items{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content:start;
    flex-wrap: wrap;
}
.container2 .items .item {
    width: 23%;
    height: 420px;
    background-color: #edf3f3;
    padding: 0px 10px;
    overflow: hidden;
    border-radius: 20px;
    margin:20px 10px;
    box-shadow: 0 0px 10px 0px #cdc6bd9d ;
    transition: all .2s ease;
}
.container2 .items .item:hover{
    box-shadow: 0 0px 20px 5px #cdc6bd9d ;
}
.container2 .items .item img {
    width: 98%;
    margin-left: 1%;
    height: 300px;
}
.container2 .items .item .info{
    background-color: #fff7f7;    
    padding: 10px;
    border-radius: 20px;
}

.container2 .items .item .info .title{
    width: 100%;
    padding: 5px;
}
.container2 .items .item .info .title h3{
    color: #150f10;
    font-size: 20px;

}
.container2 .items .item .info .pricecart{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom:5px ;
}
.container2 .items .item .info .pricecart h4{
    color: #038dac;
    font-size: 20px;
}
.container2 .items .item .info .pricecart i{
    padding: 10px;
    font-size: 20px;
    color: #038dac;
    background-color: #036f9634;
    border-radius: 50%;
    transition: all .2s ease;
}
.container2 .items .item .info .pricecart i:hover{
    background-color: #038dac;
    color: #fff;
}
.container2 .items .shopnow{
    width: 100%;
    text-align: center;
    margin: 50px 0 ;
}
.container2 .items .shopnow button{
    background-color: transparent;
    border: 1px solid #150f10;
    border-radius: 25px;
    padding: 10px 15px ;
    margin: 20px 0;
    color: #150f10;
    font-size: 20px;
    font-weight: 600;
    transition: all .2s ease;
}
.container2 .items .shopnow button:hover{
    background-color: #8f9a98;
}




.contacts .container4{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    background-color: #131312;
    box-shadow: 0 5px 50px 15px #131312 ;
    margin: 100px 0 0 0;
}
.contacts .container4 h2{
    color: #038dac;
    font-size: 25px;
    margin: 20px 0;
}
.contacts .container4 p{
    color: #8f9a98;
    font-size: 15px;
    margin: 10px 0;
}
.contacts .container4 i{
    color: #8f9a98;
    font-size: 20px;
    margin: 10px 10px;
}
.contacts .rights{
    width: 100%;
    height: fit-content;
    background-color: #150f10;
    padding: 20px ;
    text-align: center;
}
.contacts .rights h2{
    color: #8f9a98;
    font-size: 12px;
}
.contacts .rights h2 a{
    color: #038dac;
    font-size: 16px;
}
